XlsxWriter==1.0.0

Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
click==6.7
Werkzeug==0.13

Flask-RESTful==0.3.6
aniso8601==1.3.0
pytz==2017.3
six==1.11.0


beautifulsoup4==4.6.0
bs4==0.0.1

Pillow==4.3.0
pillowcase==2.0.0
Flask-Images==2.1.2

lxml==4.1.1
chardet==3.0.4
idna==2.6
olefile==0.44
py4j==0.10.6
pycrypto==2.6.1
PyMySQL==0.7.11
python-dateutil==2.6.1
requests==2.18.4
urllib3==1.22
uWSGI==2.0.15
